// Icons for map
var bikeIcon = L.MakiMarkers.icon({
  icon: "bicycle",
  color: "#0070CD",
  size: "m",
  className: 'tooltip-marker'
});

var bikeIconHover = L.MakiMarkers.icon({
  icon: "bicycle",
  color: "#0070CD",
  size: "l",
  className: 'tooltip-marker'
});

var bikeIconSelected = L.MakiMarkers.icon({
  icon: "bicycle",
  color: "#0070CD",
  size: "l",
  className: 'tooltip-marker'
});

var bartIcon = L.MakiMarkers.icon({
  icon: "rail",
  color: "#0f6b88",
  size: "l",
  className: 'tooltip-marker'
});

var ready;
var currentCity = '';
var map;
var stationsLayer;
var heatmapLayer;
var bartStationsLayer;
var stationInfoBox;


ready = function () {


  // Creat map object
  map = L.map('map', {
    zoomControl: false
  });


  // Make sure Tooltips get instantiated on layer add
  map.on('layeradd', function () {
    $('.tooltip-marker').tooltip({container: 'body'});
    $('.tooltip-marker').tooltip('hide');
  })


  // Add layer for base tiles and attribution
  var baseLayer = L.tileLayer('http://openmapsurfer.uni-hd.de/tiles/roads/x={x}&y={y}&z={z}', {
    attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
  }).addTo(map);


  // Add layer for activity heatmap
  heatmapLayer = L.heatLayer().addTo(map);
  heatmapLayer.setOptions({blur:60,radius:42});


  // Add layer for station markers
  stationsLayer = L.geoJson(null, {
    onEachFeature: onEachFeature,
    pointToLayer: pointToLayer
  }).addTo(map);

  // Add layer for station markers
  bartStationsLayer = L.geoJson(null, {
    onEachFeature: onEachFeatureBart,
    pointToLayer: pointToLayerBart
  });

  // Create info box controls
  var zoomControl = L.control.zoom({position: 'bottomright'});
  var titleBox = L.control({position: 'topleft'});
  var toggleBox = L.control({position: 'topleft'});
  var cityInfoBox = L.control();
  var citySelectionBox = L.control();
  stationInfoBox = L.control();

  // Add title box
  titleBox.onAdd = function () {
    this._div = L.DomUtil.create('div', 'title-box');
    this._div.innerHTML = '<h3>Bay Area Bike Share</h3>';
    return this._div;
  };

  // Add title box
  toggleBox.onAdd = function () {
    this._div = L.DomUtil.create('div', 'map-toggle-box');
    this._div.innerHTML = '<div class="btn-group map-toggles" data-toggle="buttons"><label class="btn btn-default btn-heatmap active tooltip-toggle" data-title="Activity Heatmap"><input type="checkbox"><i class="maki-fire-station"></i></label><label class="btn btn-default btn-bike-stations active tooltip-toggle" data-title="Bike&nbsp;Share Stations"><input type="checkbox"><i class="maki-bicycle"></i></label><label class="btn btn-default btn-bart-stations tooltip-toggle" data-title="BART Stations"><input type="checkbox"><i class="maki-rail"></i></label></div>';
    return this._div;
  };

  $(document).on('click', '.btn-heatmap', function () {
    if($(this).hasClass('active')) {
      map.removeLayer(heatmapLayer)
    }else{
      map.addLayer(heatmapLayer)      
    }
  });

  $(document).on('click', '.btn-bike-stations', function () {
    if($(this).hasClass('active')) {
      map.removeLayer(stationsLayer)
    }else{
      map.addLayer(stationsLayer)      
    }
  });

  $(document).on('click', '.btn-bart-stations', function () {
    if($(this).hasClass('active')) {
      map.removeLayer(bartStationsLayer)
    }else{
      map.addLayer(bartStationsLayer)      
    }
  });
  // Add info box for station information
  stationInfoBox.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'station-info');
    this.update();
    return this._div;
  };

  stationInfoBox.update = function (props) {
    this._div.innerHTML = '<h4>Station Information</h4>' +  (props ?
      '<p><strong>' + props.name + '</strong><br>' + props.bikes + ' bikes</p><p><strong>Activity</strong><br>' + Number(props.start_trips).toLocaleString('en') + ' pickups<br>' + Number(props.end_trips).toLocaleString('en') + ' dropoffs</p><p><strong>Popular Dropoff Station <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Where people usually dropoff bikes they pickup at this station"></i></strong><br>' + props.popular_dropoff + '</p><p><strong>Popular Pickup Station <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" title="Where people usually pickup bikes they dropoff at this station"></i></strong><br>' + props.popular_pickup + '</p><p class="text-right small"><br><span class="disclaimer"><em>Data from August 29, 2013 to February 28, 2014</em></span></p>'
      : '<p>Click a station for details</p>');
  };


  // Add info box for city information
  cityInfoBox.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'city-info');
    this.update();
    return this._div;
  };

  cityInfoBox.update = function (props) {
    this._div.innerHTML = (props ? '<h4 class="current-city">' + props.city + '</h4><p>' + props.bike_count + ' bikes at ' + props.station_count + ' bike stations</p><p><strong>Popular Pickup Station</strong><br>' + props.popular_pickup + '</p><p><strong>Popular Dropoff Station</strong><br>' + props.popular_dropoff + '</p>' : '<h4>Loading...</h4>');
  };


  // Add info box for change city selection
  citySelectionBox.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'city-selection');
    this._div.innerHTML = '<div class="city-selection-button"><div class="btn-group pull-right" id="choose-city"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Change City&nbsp;&nbsp;<span class="caret"></span></button><ul class="dropdown-menu" role="menu"><li class="divider"></li><li><a href="#" data-city="All Cities">All Cities</a></li></ul></div></div>';
    return this._div;
  };

  // Add info windows to map
  zoomControl.addTo(map);
  titleBox.addTo(map);
  toggleBox.addTo(map);
  cityInfoBox.addTo(map);
  citySelectionBox.addTo(map);
  stationInfoBox.addTo(map);

  // Get City List
  $.getJSON('/stations/index.json')
   .done(function (cities) {
    var cityListHTML = '';
    cities.forEach(function(city) {
      cityListHTML += '<li><a href="#" data-city="' + city + '">' + city + '</a></li>';
    });
    $('#choose-city .dropdown-menu').prepend(cityListHTML);
    $('*[data-city="San Francisco"]').click();
  });

  // Pull station maps based on city selected
  $(document).on('click', '#choose-city li a', function(e){
    // Selected City
    city = $(this).data('city');

    // Only get city station data if we don't already have it
    if (currentCity != city) {

      // Get list of stations
      $.getJSON('/stations/by_city', {
        city: city
      }).done( function (data) {
        heatmapData = data[0];
        cityData = data[1][0];
        stationsData = data[2];
        bartStationsData = data[3];

        if(data[3].length == 0) {
          $('.btn-bart-stations').addClass('disabled');
        }else{
          $('.btn-bart-stations').removeClass('disabled');
        }

        cityInfoBox.update(cityData);

        $('.tooltip-marker').tooltip('hide');

        heatmapLayer.setLatLngs(heatmapData);
        somedatalength = data[0].length;


        // Clear stationsLayer and add new data.
        stationsLayer.clearLayers().addData(stationsData);
        bartStationsLayer.clearLayers().addData(bartStationsData);


        for (var i = 0; i < somedatalength; i++) {
          // 3398 / 5
          countAmount = Math.round(heatmapData[i][2]/(Math.pow(cityData.station_count,2)))
          for (var x = 0; x < countAmount; x++) {
            heatmapLayer.addLatLng([heatmapData[i][0],heatmapData[i][1]])
          }
        }
        // Recent map to fit marker bounds
        map.fitBounds(stationsLayer.getBounds());

        $('.leaflet-marker-icon').first().click().tooltip('show');
      });
    }else{
      map.fitBounds(stationsLayer.getBounds());
    }

    // Set currently selected city
    currentCity = city;

    e.preventDefault();
  });


  // Hide / show city selection box
  var selectionViewTimer;
  $('.city-info').on('mouseover click', function () {
    $('.city-selection-button').slideDown();
    window.clearTimeout(selectionViewTimer);
  }).on('mouseout', function () {
    selectionViewTimer = window.setTimeout(function () {
      $('.city-selection-button').slideUp();      
    }, 1500);
  });

  // Mouseover magic for city selection button
  $('.city-selection').on('mouseover', function () {
    window.clearTimeout(selectionViewTimer);
  }).on('mouseout', function () {
    selectionViewTimer = window.setTimeout(function () {
      $('.city-selection-button').slideUp();      
    }, 1500);
  });

  $('.tooltip-toggle').tooltip({placement:'right',container: 'body'});
}

// Event actions for each station marker
var onEachFeature = function (feature,layer) {
  var restoreMarker;
  layer.on({
    click: function () {
      resetAllIcons(stationsLayer);
      layer.setIcon(bikeIconSelected);
      stationInfoBox.update(layer.feature.properties);
      // Instantiate tooltips
      $('.glyphicon-info-sign').tooltip();
      restoreMarker = false;
    },
    mouseover: function () {
      $('.tooltip-marker').tooltip('hide');
      layer.setIcon(bikeIconHover);
      restoreMarker = true;
    },
    mouseout: function () {
      if (restoreMarker == true) {
        restoreMarkerTimer = window.setTimeout(function () {
          layer.setIcon(bikeIcon);
        },50);
      }
    }
  });
}

// Marker changes to each station marker
var pointToLayer = function (feature,latLng) {
  return new L.Marker(latLng, {
    icon: bikeIcon,
    title: feature.properties.name,
    riseOnHover: true
  })
}

// Event actions for each BART station marker
var onEachFeatureBart = function (feature,layer) {
  var restoreMarker;
  layer.on({
    mouseover: function () {
      $('.tooltip-marker').tooltip('hide');
    }
  });
}

// Marker changes to each BART station marker
var pointToLayerBart = function (feature,latLng) {
  return new L.Marker(latLng, {
    icon: bartIcon,
    title: feature.properties.name + ' BART',
    riseOnHover: true
  })
}

// Reset marker icons
var resetAllIcons = function (layer) {
  $.each(layer._layers, function(index, value) {
      value.setIcon(bikeIcon)
  });
}


$(document).ready(ready);
$(document).on('page:load', ready);